
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Search Location</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14366.45329708805!2d28.264345249999998!3d-25.8163279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95672b19ce9091%3A0x67c7fe40ca23ded7!2sAfriGIS!5e0!3m2!1sen!2sza!4v1564753130822!5m2!1sen!2sza" 
        width="1100" height="600" 
        frameborder="0" 
        style="border:0" 
        allowfullscreen>

</iframe>
